{% extends 'base.html' %}

{% block main %}
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <h1>{{ "Nuevo Pedido" }}</h1> 
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <form class="vstack gap-3 {% if errors %} was-validated {% endif %}"
                method="POST"
                action="{% url 'pedidos_form' %}"
                novalidate>
                
                {% csrf_token %}

                <input type="hidden" value="{{ pedido.id }}" name="id" />  <!-- ID del pedido -->
                
                <div class="mb-3">
                    <label for="comentario" class="form-label">Comentario</label>
                    <input type="text"
                        id="comentario"
                        name="comentario"
                        value="{{pedido.comentario}}"
                        class="form-control"
                        required/>

                    {% if errors.comentario %}
                        <div class="invalid-feedback">
                            {{ errors.comentario }}
                        </div>
                    {% endif %}
                </div>
                
                <div class="mb-3">
                    <label for="categoria" class="form-label">Categoría</label>
                    <select id="categoria" name="categoria" class="form-select" required>
                        <option value="">Selecciona una categoría</option>
                        {% for categoria in categorias %}
                            <option value="{{ categoria.id }}">{{ categoria.nombre }}</option>
                        {% endfor %}
                    </select>
                
                    {% if errors.categoria %}
                        <div class="invalid-feedback">
                            {{ errors.categoria }}
                        </div>
                    {% endif %}
                </div>
                


                                
              
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
