{% extends "base.html" %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col-3">
            <a href="{% url 'pedidos_repo' %}" class="text-decoration-none" data-testid="home-Pedidos">
                <div class="card" style="min-height: 20vh">
                    <div class="card-body d-flex align-items-center">
                        <h2 class="card-title d-flex justify-content-between w-100">
                            <div>
                                <i class="bi bi-ticket-perforated"></i>
                                Pedidos
                            </div>
                        </h2>
                    </div>
                </div>
            </a>
        </div>
        {% if request.user.is_superuser %}
        <div class="col-3">
            <a href="{% url 'pedidos_historial' %}" class="text-decoration-none" data-testid="admin-Historial">
                <div class="card" style="min-height: 20vh">
                    <div class="card-body d-flex align-items-center">
                        <h2 class="card-title d-flex justify-content-between w-100">
                            <div>
                                <i class="bi bi-journal"></i>
                                Historial admin
                            </div>
                        </h2>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3">
            <a href="{% url 'pedidos_repo_admin' %}" class="text-decoration-none" data-testid="admin-Pedidos">
                <div class="card" style="min-height: 20vh">
                    <div class="card-body d-flex align-items-center">
                        <h2 class="card-title d-flex justify-content-between w-100">
                            <div>
                                <i class="bi bi-person"></i>
                                Pedidos admin
                            </div>
                        </h2>
                    </div>
                </div>
            </a>
        </div>
        {% endif %}
       
    </div>
</div>
{% endblock %}
