<!-- registration/password_change.html -->
{% extends 'base.html' %}

{% block main %}
<div class="container d-flex justify-content-center">  <!-- Centrado horizontal -->
    <div class="col-md-6">  <!-- Ajustar el ancho del contenido -->
      <div class="card p-4 mt-5">  <!-- Card con margen-top -->

        <h2>Cambiar contraseña</h2>
        <form method="post">
            {% csrf_token %}
            <label for="id_old_password">Ingrese contraseña actual:</label><br>
            {{ form.old_password }}
            <br><br>
            <label for="id_new_password1">Ingrese nueva contraseña:</label><br>
            {{ form.new_password1 }}
            <br><br>
            <label for="id_new_password2">Vuelva a ingresar la nueva contraseña:</label><br>
            {{ form.new_password2 }}
            <br><br>
            <button type="submit">Guardar cambios</button>
        </form>
      </div>
    </div>
</div>
{% endblock %}
